* {
  outline: none !important;
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
}

.addpage-form {
  width: 60%;
  margin: 0 auto;
}

.title,
.editBtn {
  cursor: pointer;
}

.backBtn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.backBtn i {
  font-size: 42px;
  color: #ccc;
}

.backBtn i:hover {
  color: #000;
}

@media (max-width: 600px) {
  .recipe-item {
    width: 100% !important;
  }
  .addpage-form {
    width: 100%;
  }
}
